# Environment variables for receipt processor docker setup

# LocalStack Config
LOCALSTACK_ENDPOINT=http://receipt-localstack:4566
S3_BUCKET=receipts-bucket
DYNAMODB_TABLE=Receipts
AWS_DEFAULT_REGION=ap-south-1

# SES Configuration (Mocked by LocalStack locally)
SES_SENDER_EMAIL=noreply@receiptai.local
SES_RECIPIENT_EMAIL=test@example.com

# API Server Config
PORT=8000
